<!DOCTYPE html>
<html>
<head>
    <title>{{ videojuego.nombre }}</title>
</head>
<body>
    <h1>{{ videojuego.nombre }}</h1>
    <p>{{ videojuego.descripcion }}</p>
    <p>Precio: ${{ videojuego.precio }}</p>
    <p>Desarrollador: {{ videojuego.desarrollador }}</p>
    <p>Editor: {{ videojuego.editor }}</p>
    <img src="{{ videojuego.imagen.url }}" alt="{{ videojuego.nombre }}">
    <form action="{% url 'agregar_al_carrito' videojuego.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Agregar al Carrito</button>
    </form>
</body>
</html>
