body{
    background-image: url(/assents/img/fondo4.jpg);
    background-size: 120%;
    background-attachment: fixed;
    
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    color: white;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    
}
div{
    background-color: rgb(36, 36, 36);
    color: white;
}