body{
    background-image: url(/assets/img/fondo8.1.jpg                  );
    background-size: 120%;
    background-attachment: fixed;
}
h1{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    border-radius: 19%;
}