body{
    background-image: url(/assets/img/fondo4.jpg);
    background-size: 120%;
    background-attachment: fixed;
}
h1{
    background-color: rgb(36,36,36);
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    justify-content: center;
    border-radius: 19%;
}
div{
    background-color: rgb(36,36,36);
    color: white;
}