
body {
    background-image: url(/assets/img/fondo8.1.jpg);
    background-size: 120%;
    background-attachment: fixed;
}


.card {
    background-color: rgb(120, 8, 8);
    color: white;
    display: inline-block;
    height: 90px;
}

h1, h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(36, 36, 36);
}

h1 {
    border-radius: 19%;
}

h2 {
    border-radius: 15%;
}
