body{
    background-image: url(/assents/img/fondo4.jpg);
    background-size: 120%;
}

h1{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    border-color: black;
    background-color: rgb(36,36,36);
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content: center;
    color: white;
    background-color: rgb(36,36,36);

}
.card{
    background-color: rgb(120, 8, 8);
    color: white;

}
.card{
    display: inline-block;
    background-color: rgb(120, 8, 8);
    color: white;
}
