body{
    background-image: url(/assents/img/fondo4.jpg);
    background-size: 120%;


h1{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    border-color: black;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content: center;
    color: white;
}
.card{
    background-color:: rgb(120, 8, 8);
}