body{
    background-color: rgb(246, 93, 38);

h1{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

p{
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    justify-content: center;
}
