body{
    background-color: beige;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    justify-content: center;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}